.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RunButtonWithTooltipStyled {
  margin: 1rem;
  margin-top: auto;
  height: 40px;
  width: 40px;
}

.SidebarButton {
  padding: 0;
  margin-top: 1rem;
}

.TestButton {
  composes: SidebarButton;
  transition: color 0.3s linear;
}

.TestButton:hover {
  color: var(--mb-color-brand);
  background-color: var(--mb-color-brand-light);
}

.isSelected {
  color: var(--mb-color-brand);
}
